html, body {
  margin: 0;
  padding: 0;
}

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-bottom: 2px solid rgb(20, 80, 100);
}

.navbar {margin-bottom: 0px;}

.logo {
  position: relative;
  margin-top: -10px;
  padding: 0px;
  width: 150px;
}

.dropdown span {
  color: #222;
  font-size: 20px;
}

main {
  width: 100%;
  height: 130vh;
  background-image: url('../img/backgrounds/Train_ABSENCE.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: right;
}

.about {
  padding-top: 50px;
}

.about img {
  margin: 70px 0px 20px;
}

.mission {
  padding-top: 50px;
}

.contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

.submissions {
  padding-top: 100px;
}

.submissions h2 {
  font-size: 2.25em;
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
}

.submissions img {
  margin: 70px 0px 20px;
}

.prizes {
  padding-top: 100px;
}

.prizes h2 {
  font-size: 2.25em;
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
}

.specialcalls {
  padding-top: 100px;
}

.specialcalls h2 {
  font-size: 2.25em;
  padding-bottom: 50px;
}

.item {
  max-height: 725px;
}

.prizes img {
  margin: 70px 0px 20px;
}

.present, .editions {
  padding-top: 100px;
}

.present h2, .editions h2 {
  font-size: 2.25em;
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
}

.editions .col-md-6 {
  padding: 35px;
  text-align: center;
}

.editions img {
  width: 100%;
  max-width: 500px;
  max-height: 300px;
  box-shadow: 2px 2px 2px #888;
}

.editions span {
  display: inline-block;
  padding: 10px;
  font-family: 'Arial';
  font-size: 20px;
  font-weight: bold;
  color: #222;
}

.carousel-indicators li {
  width: 20px;
  background-color: #fff;
  border-radius: 0px;
  opacity: 0.8;
}

.carousel-indicators .active {
  width: 20px;
  background-color: #fff;
  border-radius: 0px;
  opacity: 1;
}

@media only screen and (max-width: 760px) {
  .logo {
    padding: 0px;
  }

  .navbar-header {
    float: left;
    width: 100%;
    text-align: center;
  }

  .dropdown {
    float: left;
    display: block;
    color: #222;
  }

  .navbar-brand {float: left;}
}
