html, body {
  margin: 0;
  padding: 0;
}

header {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: #fff;
  text-align: center;
  border-bottom: 2px solid rgb(20, 80, 100);
}

.navbar {margin-bottom: 0px;}

.logo {
  position: relative;
  margin-top: -10px;
  padding: 0px;
  width: 150px;
}

main {
  width: 100%;
  height: 130vh;
  background-image: url('../img/backgrounds/Train_ABSENCE.png');
  background-position: center center;
  background-size: cover;
  text-align: right;
}

main .jumbotron {
  margin-top: 180px;
  background-color: rgba(2, 2, 2, 0);
  color: #fff;

}

.about {
  padding-top: 50px;
}

.about img {
  margin: 70px 0px 20px;
}

.mission {
  padding-top: 50px;
}

.contact {
  padding-top: 50px;
  padding-bottom: 50px;
}

.submissions {
  padding-top: 100px;
}

.submissions h2 {
  font-size: 2.25em;
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
}

.submissions img {
  margin: 70px 0px 20px;
}

.prizes {
  padding-top: 100px;
}

.prizes h2 {
  font-size: 2.25em;
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
}

<<<<<<< HEAD
.item {
  max-height: 725px;
=======
.prizes img {
  margin: 70px 0px 20px;
}

.editions {
  padding-top: 100px;
>>>>>>> 00870400a91d05f1ec0fee2e4c63633d68abda98
}

.editions h2 {
  font-size: 2.25em;
  padding-bottom: 15px;
  border-bottom: 2px solid #000;
}

.editions .col-md-6 {
  padding: 35px;
  text-align: center;
}

.editions img {
  width: 100%;
  max-width: 500px;
  max-height: 300px;
  box-shadow: 2px 2px 2px #888;
}

.editions span {
  display: inline-block;
  padding: 10px;
  font-family: 'Arial';
  font-size: 20px;
  font-weight: bold;
  color: #222;
}

@media only screen and (max-width: 760px) {
  .logo {
    padding: 0px;
  }

  .navbar-header {
    float: left;
    width: 100%;
    text-align: center;
    padding: 15px;
  }

  .navbar-brand {float: none;}
}
